* {
  font-family: Meiryo;
}

#forkme_banner {
  display: block;
  position: absolute;
  top:0;
  right: 10px;
  z-index: 10;
  padding: 10px 50px 10px 10px;
  color: #fff;
  background: url('../assets/blacktocat.png') #0090ff no-repeat 95% 50%;
  font-weight: 700;
  box-shadow: 0 0 10px rgba(0,0,0,.5);
  border-bottom-left-radius: 2px;
  border-bottom-right-radius: 2px;
}

/*トップページ用*/
.top-pages-header {
  text-align: center;
}

.top-pages-header h1 {
  font-size: 64px;
  font-family: Meiryo; /*bootstrapのフォントを打ち消すためのもの*/
}

.top-pages-header p {
  font-size: 24px;
  margin-bottom: : 30px;
}

/*　フッター用 */
.footer {
  margin-top: 50px;
}

/* 記事全般*/
.main {
  background-color: #fff;
  color: #000;
  padding-top: 20px;
  padding-bottom: 50px;
}

.main a:link {
  color: #00f;
}
.main a:visited {
  color: #008;
}
.main a:hover {
  color: #aaf;
}
.main a:active {
  color: #fff;
}

.main ol {
  margin-left: -20px;
}

.under-bar {
  border-bottom: 1px solid #eee;
}
