* {
  font-family: Meiryo;
}

@media (min-width: 1200px) {
  #forkme_banner {
    display: block;
    position: absolute;
    top:0;
    right: 10px;
    z-index: 10;
    padding: 10px 50px 10px 10px;
    color: #fff;
    background: url('../assets/blacktocat.png') #0090ff no-repeat 95% 50%;
    font-weight: 700;
    box-shadow: 0 0 10px rgba(0,0,0,.5);
    border-bottom-left-radius: 2px;
    border-bottom-right-radius: 2px;
  }
}
@media (max-width: 1200px) {
  #forkme_banner {
    display: block;
    z-index: 10;
    padding: 10px 50px 10px 10px;
    color: #fff;
    background: url('../assets/blacktocat.png') #0090ff no-repeat 95% 50%;
    font-weight: 700;
    box-shadow: 0 0 10px rgba(0,0,0,.5);
    border-bottom-left-radius: 2px;
    border-bottom-right-radius: 2px;
  }
}
/*トップページ用*/
.top-pages-header {
  text-align: center;
}

.top-pages-header h1 {
  font-size: 64px;
  font-family: Meiryo; /*bootstrapのフォントを打ち消すためのもの*/
}

.top-pages-header p {
  font-size: 24px;
  margin-bottom: : 30px;
}

/*　フッター用 */
.footer {
  margin-top: 50px;
}

/* リスト用 */
@media (min-width: 768px) {
  .list {
  }
}
@media (max-width: 767px) {
  .list {
    visibility: hidden ;
  }
}

/* 記事全般*/
.main {
  background-color: #fff;
  color: #000;
  padding-top: 20px;
  padding-bottom: 50px;
  word-wrap: break-word;
}

.main a:link {
  color: #00f;
}
.main a:visited {
  color: #008;
}
.main a:hover {
  color: #aaf;
}
.main a:active {
  color: #fff;
}

.main p {
  line-height: 180%;
}

.main ol {
  margin-left: -20px;
}

.under-bar {
  border-bottom: 1px solid #eee;
}

/* 各ページの概要*/
.overview {
  border: solid #ded 1px;
  background-color: #fafdfa;
  border-radius: 5px 5px 5px 5px
}

.highlight {
  margin-bottom: -10px;
}

.keyward {
  font-style: oblique;
  <!--font-weight: bolder;-->
}

.important {
  font-weight: bolder;
  text-decoration:underline;
}

.topic {
  border: solid #eee 1px;
  background-color: #f8f8fe;
  padding: 10px;
  border-left: solid 5px #1B809E
}

.supplemental {
  border: solid #eee 1px;
  background-color: #fefaf6;
  padding: 10px;
  border-left: solid 5px #ECC893
}

.summary {
  border: solid #eee 1px;
  background-color: #f8fef8;
  padding: 10px;
  border-left: solid 5px #AFE0A8
}
