<head>
  <meta charset='utf-8' />
  <meta http-equiv="content-language" content="ja" />
  <meta name="description" content="{{ page.description }}">

  <title>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</title>

  <link rel="stylesheet" type="text/css" media="screen" href="{{"/assets/bootstrap/css/bootstrap.min.css" | prepend: site.github.url | site.url}}">
  <link rel="stylesheet" type="text/css" media="screen" href="{{"/css/stylesheet.css" | prepend: site.github.url | site.url}}">
  <link rel="stylesheet" type="text/css" media="screen" href="{{"/css/main.css" | prepend: site.github.url | site.url}}">
  <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.github.url | site.url}}">
  <link rel="alternate" type="application/rss+xml" title="{{ site.title }}" href="{{ "/feed.xml" | prepend: site.github.url | site.baseurl | prepend: site.url }}">
  <script type="text/javascript" src="{{"/js/jquery-2.2.3.min.js" | prepend: site.github.url | site.url}}"></script>
  <script>
    $(function(){
      var list = $("#list");
      var main = $("#main");
      var min_move = main.offset().top;
      var max_move = main.offset().top + main.height() - list.height() - 2*parseInt(list.css("top") );
      var margin_bottom = max_move - min_move;

      $(window).bind("scroll", function() {
          var window_top =  $(window).scrollTop();
          var top = Math.max(0, window_top - min_move);
          list.css("top", top+20);
          //list.animate({"top": top + 20},{duration:10,queue:true});
      });
    });
  </script>
  <meta name="viewport" content="width=device-width, initial-scale=1">

</head>
